/*
Colors
*/
$primary-1: #FFFFED;
$primary-2: #FFFFC1;
$primary-3-main: #FFFF81;
$primary-4-text: #8A79AF;

$secondeay-1: #ECFFFF;
$secondeay-2-main: #DEFCFC;
$secondeay-3-border: #CCFAFF;
$secondeay-4: #8ED9E0;
$secondeay-5: #49BAC6;
$secondeay-6-text: #009EAD;

$gray-white: #FFFFFF;
$gray-1: #F5F5F5;
$gray-2: #E6E6E6;
$gray-3: #C2C2C2;
$gray-4: #999999;
$gray-5: #666666;
$gray-6: #333333;
$gray-black: #000000;

$theme-alert: #FF8080;
$theme-info: #FF8A00;

$transparent-black: rgba(0, 0, 0, 0.05);

/*
Fonts
*/
@mixin headline-h5 {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 900;
  line-height: 100%;
}

@mixin headline-h6 {
  font-family: "Inter";
  font-size: 13px;
  font-weight: 900;
  line-height: 100%;
}

@mixin body-p16 {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
}

@mixin body-p14 {
  font-family: "Inter";
  font-size: 14px;
  font-weight: 500;
  line-height: 120%;
}

@mixin body-p12 {
  font-family: "Inter";
  font-size: 12px;
  font-weight: 500;
  line-height: 120%;
}

@mixin button-md {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
}

@mixin button-sm {
  font-family: "Inter";
  font-size: 12px;
  font-weight: 600;
  line-height: 100%;
}

/*
LoginScreen CSS
*/
#loginPage {
  background-color: $gray-white;
  padding: 220px;
  display: flex;
  justify-content: center;
  align-items:center;
  align-items: flex-start;
}

.sectionBanner {
  width: 400px;
  height: 460px;
  position: relative;
  border-radius: 40px;
}

.sectionTitle {
  width: 143.31px;
  height: 74.36px;
  margin-bottom: 161.02px;
  margin-left: 64.82px;
}

/*
PostScreen CSS
*/
#pageHeader {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 90px;
  background-color: $primary-2;
}

#pageTopMenu {
  position: absolute;
  max-width: 1000px;
  margin-right: 10px;
  width: 100%;
  height: auto;
}

#pageTopBar {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
  top: 60px;
  background-color: $primary-3-main;
}

#menuTab {
  display: flex;
  justify-content: space-between;
  width: 480px;
}

#topBar {
  background-color: $primary-2;
  width: 100%;
  height: 60px;
}

#banner{
  display: flex;
  justify-content: space-around;
  margin: 7px;
}

#postp{
  overflow-y: auto;
  height: 790px;
  width: 540px;
}

#postp::-webkit-scrollbar {
  width: 3px;
}

#pageBody {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 0px auto;
  overflow: hidden;
  background-color: $gray-1;
} 

#leftFrame {
  margin-top: 15px;
  margin-right: 5px;
  display: flex;
  justify-content: left;
  flex-direction: column;
}

#centerFrame {
  width: 545px;
  margin: 15px 15px 15px;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
  height: calc(100vh - 120px); // 100% - 120px(90px pageHeader + 30px centerFrame margin)
  border-radius: 20px;
  overflow-x: visible;
}

.centerFrame::-webkit-scrollbar{
  width: 0px; 
}

#centerFrame::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

#rightFrame {
  margin-top: 15px;
  display: flex;
  justify-content: right;
}

.Box {
  align-items:center;
  display: flex;
  width: 210px;
  height: 210px;
  border-radius: 20px;
  background-color: $primary-4-text;
  box-shadow: 2px 2px 2px 0 $transparent-black;
}

.pictureCollect{
  display: flex;
  flex-wrap: wrap;
  width: 210px;
  height: 210px;
  border-radius: 20px;
  background-color: $gray-2;
  box-shadow: 2px 2px 2px 0 $transparent-black;
  overflow-y: scroll;
  padding-bottom: 10px;
  padding-left: 5px;
}

.pictureSort{
  border-radius: 20px;
  width: 60px;
  height: 60px;
  margin: 3px;
}

.pictureCollect::-webkit-scrollbar{ 
  width: 5px; 
}

.bandImage {
  width: 210px;
  height: 210px;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 0 $transparent-black;
}

.bandName{
  margin-top: 10px;
  width: 210px;
  @include headline-h5;
}

.memberCount{
  margin-top: 10px;
  @include body-p14;
  color: $gray-5;
}

.bandIntroduce{
  margin-top: 5px;
  width: 210px;
  @include body-p12;
  color: $gray-5;
}

.line{
  width: 210px;
  height: 2px;
  left: 0px;
  top: 252px;
  background: $gray-2;
  margin-top:7px ;
}

.setting{
  display: flex;
  margin-top: 5px;
}

.bandSetting{
  @include body-p12;
  color: $gray-4;
  margin-left: 5px;
  margin-top: 2px;
}

.postPicture{
  width: auto;
  max-height: 300px;
  margin: 5px 0 5px 0;
}

.postHeader{
  display: flex;
  width: auto;
  height: 40px;
  left: 15px;
  top: 896px;
  margin-bottom: 5px;
  justify-content: space-between;
}

.profile{
  display: flex;
  width: auto;
  height: 40px;
  left: 15px;
  top: 896px;
}

.profileMeta{
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.userName{
  width: auto;
  height: 13px;
  left: 60px;
  top: 900px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: -0.01em;
  color: $gray-black;
}

.day{
  height: 12px;
  left: 60px;
  top: 920px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: -0.01em;
  color: $gray-4;
  padding-top: 3px;
}

.postBody{
  display: flex;
  flex-direction: column;
}

.postFooter{
  padding-top: 5px;
}

.postComment{
  outline: none;
  resize: none;
  border: white;
  width: 430px;
  height: 20px;
  align-items: center;
  border-radius: 10px;
  margin: 16px 10px;
  overflow: hidden;
}

.postComment_2{
  outline: none;
  resize: none;
  width: 345px;
  align-items: center;
  border-radius: 0px 0px 10px 10px;
  margin-left: 10px;
  margin-top: 5px;
  border: none;
  overflow: hidden;
  height: 20px;
}

.commentAreaOutLine{
  color: $gray-4;
  border-radius: 20px;
  border:1px solid #dedede;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.commentAreaOutLine_2{
  vertical-align:middle;
  border-radius: 20px;
  border:1px solid #dedede;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 6px;
}

.commentUploadBtn{
  margin-right: 10px;
  border-radius: 20px;
  border: $gray-2;
  background-color: $gray-2;
  color: blue;
  cursor: pointer;
  @include body-p12;
}

.modifyCommentUploadBtn{
  margin-right: 10px;
  border-radius: 20px;
  border: $gray-2;
  background-color: $gray-2;
  color: blue;
  cursor: pointer;
  font-family: "Inter";
  font-size: 8px;
  font-weight: 500;
  line-height: 120%;
  width: 30px;
}

.commentUploadBtn:hover {
  opacity: 1;
}

.commentUploadBtn:active{
  color: rgb(72, 72, 255)
}

.postLabel{
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: -0.01em;
  color: $gray-black;
  margin: 5px 0 5px 0;
}

.profileImage{
  position: static;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  left: 15px;
  top: 188px;
}

.Emogi{
  border-radius: 50%;
  margin-right: 10px;
}

.Comment{
  border-radius: 50%;
  cursor: pointer;
}

.postBox {
  align-items:center;
  margin-top: 10px;
  width: 510px;
  height: auto;
  border-radius: 20px;
  background-color: $gray-white;
  box-shadow: 2px 2px 2px 0 $transparent-black;
  padding: 15px;
}

.scheduleBox{
  display: flex;
  width: 510px;
  height: 80px;
  left: 15px;
  top: 746px;
  background: $gray-1;
  border: 0.5px solid $gray-2;
  box-sizing: border-box;
}

.postSchedule{
  margin: 5px 0 5px 0;
}

.scheduleHead{
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  margin-left: 20px;
}

.scheduleDate{
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: -0.01em;
  color: $gray-black;
  margin-top: 21px;
  text-align: center;
}

.scheduleDay{
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 100%;
  letter-spacing: -0.01em;
  color: $theme-alert;
  margin-top: 4px;
  text-align: center;
}

.scheduleBody{
  display: flex;
  flex-direction: column;
}

.scheduleName{
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: -0.01em;
  color: $gray-black;
  margin-top: 26px;
}
.scheduleDDay{
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: -0.01em;
  color: $gray-5;
  margin-top: 8px;
}

.commentProfileImage{
  position: static;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  left: 15px;
  top: 188px;
}

.commentProfile{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.commentProfileDiv{
  display: flex;
  height: fit-content;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.commentContent{
  @include body-p12;
  // margin-bottom: 3px;
  margin-top: 3px;
}

.commentProfileMeta{
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  width: 100%;
}

.CommentUserName{
  height: 13px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: -0.01em;
  color: $gray-black;
}

.CommentDay{
  height: 12px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 100%;
  letter-spacing: -0.01em;
  color: $gray-4;
}
/*
  settingFrame Css
*/
.settingPageUserName{
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: -0.01em;
  color: $gray-black;
}

.settingButton{
  margin-right: 5px;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  width: 80px;
  height: 25px;
  background-color: #dcdff7;
  @include button-sm;
  transition-duration: 0.3s;
}

.settingButton:hover {
  background-color: #8e97d6;
  color: $gray-white;
  opacity: 1;
  box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.settingButton:active{
  box-shadow: 0 0px 0px 0 rgba(0,0,0,0.24)
}

.settingHeader{
  display: flex;
  flex-direction: column;
  background-color: $gray-white;
  border-radius: 20px;
  padding: 8px;
  width: 525px;
  box-shadow: 2px 2px 2px 0 $transparent-black;
}

.settingChangeButton{
  align-self: center;
}

.settingLine{
  width: 510px;
  height: 0.5px;
  background: rgb(185, 184, 184);
  margin-top: 10px ;
}

.settingPageProfileImage{
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

.settingBody{
  display: flex;
  flex-direction: column;
  background-color: $gray-white;
  border-radius: 20px;
  padding: 8px;
  margin-top: 10px;
  width: 525px;
  padding-bottom: 20px;
  box-shadow: 2px 2px 2px 0 $transparent-black;
}

.settingBox{
  display: flex;
  flex-direction: column;
  align-items:center;
  width: 510px;
  height: auto;
  border-radius: 20px;
  background-color: $gray-2;
  box-shadow: 2px 2px 2px 0 $transparent-black;
  padding: 15px;
}

.settingProfileDiv{
  display: flex;
  justify-content: space-between;
}

.settingTitle{
  margin-left: 5px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: -0.01em;
  color: $gray-black;
}

.settingExplain{
  margin-left: 5px;
  margin-top: 5px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 100%;
  letter-spacing: -0.01em;
  color: #adadad;
}

.settingInfoExplain{
  display: flex;
  flex-direction: column;
}

.settingMenuBody{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.settingMenuBox{
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.settingHeadTitle{
  margin-left: 5px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: $theme-alert;
}

.settingProfile{
  display: flex;
  align-items: center;
}

.memberFrameBody{
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  margin-top: 10px;
  width: 510px;
  background-color: $gray-white;
  box-shadow: 2px 2px 2px 0 $transparent-black;
  padding: 15px;
}

.memberHeader{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  letter-spacing: -0.01em;
  @include headline-h5;
  color: $theme-alert;
}

.memberBodyDiv{
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.memberBody{
  display: flex;
  align-items: center;
}

#memberProfileImage{
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

.memberName{
  margin-left: 5px;
  letter-spacing: -0.01em;
  @include headline-h6;
}

.memberLine{
  width: 510px;
  height: 0.5px;
  background: rgba(185, 184, 184, 0.3);
  margin-top: 10px ;
}