/*
Colors
*/
$primary-1: #FFFFED;
$primary-2: #FFFFC1;
$primary-3-main: #FFFF81;
$primary-4-text: #8A79AF;

$secondeay-1: #ECFFFF;
$secondeay-2-main: #DEFCFC;
$secondeay-3-border: #CCFAFF;
$secondeay-4: #8ED9E0;
$secondeay-5: #49BAC6;
$secondeay-6-text: #009EAD;

$gray-white: #FFFFFF;
$gray-1: #F5F5F5;
$gray-2: #E6E6E6;
$gray-3: #C2C2C2;
$gray-4: #999999;
$gray-5: #666666;
$gray-6: #333333;
$gray-black: #000000;

$theme-alert: #FF8080;
$theme-info: #FF8A00;

$transparent-black: rgba(0, 0, 0, 0.05);

/*
Fonts
*/
@mixin headline-h5 {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 700;
  line-height: 100%;
}

@mixin headline-h6 {
  font-family: "Inter";
  font-size: 13px;
  font-weight: 700;
  line-height: 100%;
}

@mixin body-p16 {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
}

@mixin body-p14 {
  font-family: "Inter";
  font-size: 14px;
  font-weight: 500;
  line-height: 120%;
}

@mixin body-p12 {
  font-family: "Inter";
  font-size: 12px;
  font-weight: 500;
  line-height: 120%;
}

@mixin button-md {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
}

@mixin button-sm {
  font-family: "Inter";
  font-size: 12px;
  font-weight: 600;
  line-height: 100%;
}

#alertPopup {
  position: absolute;
  display: flex; 
  justify-content: center;
  align-items: center;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: $transparent-black;
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
}
  
#alertPopup .content {
  width: 420px;
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: $primary-1;
  border-radius: 3px;
  box-shadow: 2px 2px 2px $transparent-black;
  @include body-p14;
}

#alertPopup .text {
  padding-top: 70px;
}

#alertPopup .btn {
  padding-bottom: 50px;
}

#confirmPopup {
  position: absolute;
  display: flex; 
  justify-content: center;
  align-items: center;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: $transparent-black;
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
}

#confirmPopup .content {
  width: 420px;
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: $primary-1;
  border-radius: 3px;
  box-shadow: 2px 2px 2px $transparent-black;
  @include body-p14;
}

#confirmPopup .text {
  padding-top: 70px;
}

#confirmPopup .btn {
  padding-bottom: 50px;
}

#registerPopup {
  position: absolute;
  display: flex; 
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: $transparent-black;
  backdrop-filter: blur(1px);
}

#registerPopup .content {
  width: 480px;
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $primary-1;
  border-radius: 3px;
  box-shadow: 2px 2px 2px $transparent-black;
  @include body-p14;
}

#registerPopup .text {
  padding-top: 70px;
}

#registerPopup .btn {
  padding-bottom: 20px;
}

#seeMorePopup {
  display: flex;
}

#seeMorePopup .content {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  background-color: $gray-white;
  box-shadow: 2px 2px 2px $transparent-black;
  @include body-p14;
  top: 20px;
  right: 5px;
}

.moreContent{
  text-align: center;
  display: block;
  padding: 5px 25px 5px;
  margin: 5px 0px 5px;
  white-space: nowrap;
  background-color: white;
  @include body-p12;
  cursor: pointer;
}

.moreContent:hover {
  background-color: $gray-2;
  // color: white;
  opacity: 1;
  box-shadow: 0 2px 0px 0 rgba(0,0,0,0.24)
}

.moreContent:active{
  box-shadow: 0 0px 0px 0 rgba(0,0,0,0.24)
}

#modifyPopup {
  position: absolute;
  display: flex; 
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: $transparent-black;
}

.modifyCancel{
  text-align: right;
  margin-top: 5px;
  margin-right: 5px
}

.modifyCancelBtn{
  @include body-p12;
  border: 0;
  outline: 0;
  border-radius: 20px;
  cursor: pointer;
}

.modifyCancelBtn:hover {
  background-color: $gray-2;
  opacity: 1;
  box-shadow: 0 2px 0px 0 rgba(0,0,0,0.24)
}

.modifyCancelBtn:active{
  box-shadow: 0 0px 0px 0 rgba(0,0,0,0.24)
}

.modifyPostuploadbox{
  display: flex;
  width: 540px;
  height: 500px;
  border-radius: 20px;
  background-color: $gray-white;
  box-shadow: 2px 2px 2px 0 $transparent-black;
  margin-top: 10px;
  flex-direction: column;
  justify-content: space-between;
}

#memberInfoPopup {
  position: absolute;
  display: flex; 
  justify-content: center;
  align-items: center;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: $transparent-black;
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
}

#memberInfoPopup .content {
  width: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: $primary-1;
  border-radius: 3px;
  box-shadow: 2px 2px 2px $transparent-black;
  @include body-p14;
}

#memberInfoPopup .profileInfo {
  width: auto;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  @include body-p14;
}

#memberInfoPopup .text {
  padding-top: 10px;
}

#memberInfoPopup .btn {
  padding-bottom: 50px;
}

#memberInfoPopup .infoProfileImage {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-top: 50px;
}

.divPoint {
  position: relative;
  width: 100%;
  height: 1px;
  margin: 10px 0px;
  background-color: $gray-2;
}

#settingPopup {
  float: right;
  display: flex; 
  justify-content: center;
  align-items: center;
}

#settingPopup .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $gray-white;
  margin: 5px;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 2px 2px 2px $transparent-black;
  @include body-p14;
}

#settingPopup .text {
  @include body-p14;
}