
// Colors
$gray-white: rgba(255, 255, 255, 1);
$primary-1: rgba(255, 255, 237, 1);
$primary-3-main: rgba(255, 255, 129, 1);
$primary-4-text: rgba(138, 121, 175, 1);
$secondeay-3-border: rgba(204, 250, 255, 1);
$secondeay-6-text: rgba(0, 158, 173, 1);
$transparent-black: rgba(0, 0, 0, 0.05);

#loginPage {
  background-color: $gray-white;
  padding: 220px;
  display: flex;  
  justify-content: center;
  align-items:center;
  align-items: flex-start;
}

.relativeWrapperOne {
  margin-right: 60px;
  position: relative;
}

.sectionBanner {
  width: 400px;
  height: 460px;
  position: relative;
  border-radius: 40px;
}

.flexWrapperOne {
  padding: 26.62px 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sectionTitle {
  width: 143.31px;
  height: 74.36px;
  margin-bottom: 161.02px;
  margin-left: 64.82px;
}

.flexWrapperTwo {
  display: flex;
  align-items: flex-start;
}