
// Colors
$primary-1: rgba(255, 255, 237, 1);
$primary-2: rgba(255, 255, 193, 1);
$primary-3-main: rgba(255, 255, 129, 1);   
$primary-4-text: rgba(138, 121, 175, 1);
 
$secondeay-1: rgba(236, 255, 255, 1);
$secondeay-2-main: rgba(222, 253, 253, 1);
$secondeay-3-border: rgba(204, 250, 255, 1);
$secondeay-4: rgba(142, 217, 224, 1);
$secondeay-5: rgba(73, 186, 198, 1);
$secondeay-6-text: rgba(0, 158, 173, 1);

$gray-white: rgba(255, 255, 255, 1);
$gray-1: rgba(245, 245, 245, 1);
$gray-2: rgba(225, 225, 225, 1);
$gray-3: rgba(194, 194, 194, 1);
$gray-4: rgba(153, 153, 153, 1);
$gray-5: rgba(102, 102, 102, 1);
$gray-6: rgba(65, 65, 65, 1);
$gray-black: rgba(0, 0, 0, 1);

$theme-alert: rgba(255, 128, 128, 1);
$theme-info: rgba(255, 138, 0, 1);

$transparent-black: rgba(0, 0, 0, 0.05);

@mixin headline-h5 {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
}

@mixin headline-h6 {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
}

@mixin body-p16 {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
}

@mixin body-p14 {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
}

@mixin body-p12 {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
}

@mixin button-md {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
}

@mixin button-sm {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
}

#loginPage {
  background-color: $gray-white;
  padding: 220px;
  display: flex;
  justify-content: center;
  align-items:center;
  align-items: flex-start;
}

#mainTop {
  background-color: $primary-3-main;
  width: 100%;
  height: 90px;
  top: 0px;
}

#mainPage {
  display: flex;
  height: calc(100vh - 90px);
  overflow: hidden;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  background-color: $gray-1;
}


#main_Lside {
  flex: 1;
  margin-top: 15px;
  display: flex;
  justify-content: right;
}

#postList {
  width: 540px;
  margin: 15px 15px 15px;
  align-items: center;
  justify-content: center;
}


#main_Rside {
  flex: 1;
  margin-top: 15px;
  display: flex;
  justify-content: left;
}

.relativeWrapperOne {
  margin-right: 60px;
  position: relative;
}

.sectionBanner {
  width: 400px;
  height: 460px;
  position: relative;
  border-radius: 40px;
}

.flexWrapperOne {
  padding: 26.62px 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sectionTitle {
  width: 143.31px;
  height: 74.36px;
  margin-bottom: 161.02px;
  margin-left: 64.82px;
}

.flexWrapperTwo {
  display: flex;
  align-items: flex-start;
}

#topBar {
  position: absolute;
  background-color: $primary-2;
  width: 100%;
  height: 60px;
  top: 0px;
}